body {
  position: relative;
}
* {
  font-family: 'Open Sans', sans-serif;
}
header .row {
    display: flex;
    align-items:center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  color: #444;
}

header nav {
    display: flex;
    justify-content: flex-end;

}
header nav a {
  padding: 20px;
  color: #444;
  font-size: 17px;

}
header nav a:hover {
  background-color: #586F6B;
  text-decoration: none;
  color: #FFF;

}
header {
  background-color: #7F9183;
}
#footerr ul {
  list-style: none;
  display: inline;
}
#footerr .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
#footerr li img {
  width: 18px;
  height: 18px;
  float: right;
  color: #000;
}
#footerr {
  font-size: 12px;
  padding: 20px 0;
  height: 60px;
  background-color: #CFC0BD;
  width: 100%;
  position: absolute;
  bottom: 0px;
  overflow: auto;

}
#footerr p {
  float: left;
  vertical-align:center;
}
.btn.btn-primary {
  background: #7F9183;
  color: #444;
}
.btn.btn-primary:visited{
  background: #7F9183;
  color: #444;
}
.btn.btn-primary:hover{
  background: #586F6B;
  color: #fff;
}
#content {
  padding-top: 50px;
  margin-bottom: 250px;
}
#team {
  width: 350px;
}
#content .col-sm-4 {
  margin-right: 25px;
  width: 350px;
}
